<!DOCTYPE html>
<html lang="ru">

<head>
  <!-- meta -->
  <meta charset="utf-8">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="format-detection" content="telephone=no">

  <!-- style -->
  <link rel="stylesheet" href="/dist/css/404.css">

  <!-- title -->
  <title>Детейлинг Москва | 404</title>

</head>

<body>

  <div class="absent">
    <div class="container">
      <div class="absent__content">
        <h1 class="absent__title">404</h1>
        <p class="absent__text">Страница не найдена</p>
      </div>
      <a class="absent__btn" href="/" target="_blank" rel="noopener noreferrer">На главную</a>
    </div>
  </div>

</body>

</html>